[submodule ".registry"]
	path = .registry
	url = https://github.com/artur-man/artur-man.r-universe.dev
	branch = HEAD
[submodule "DandEFA"]
	path = DandEFA
	url = https://github.com/Artur-man/DandEFA
[submodule "HDF5DataFrame"]
	path = HDF5DataFrame
	url = https://github.com/Artur-man/HDF5DataFrame
[submodule "ImageArray"]
	path = ImageArray
	url = https://github.com/Artur-man/ImageArray
[submodule "SimpleITK"]
	path = SimpleITK
	url = https://github.com/Artur-man/SimpleITKRInstaller
[submodule "VoltRon"]
	path = VoltRon
	url = https://github.com/Artur-man/VoltRon
[submodule "VoltRonStore"]
	path = VoltRonStore
	url = https://github.com/Artur-man/VoltRonStore
[submodule "ZarrDataFrame"]
	path = ZarrDataFrame
	url = https://github.com/Artur-man/ZarrDataFrame
[submodule "opencv"]
	path = opencv
	url = https://github.com/Artur-man/opencv
